
.message {
  text-align: center;
  margin: 0 0 20px;
  position: relative;
  padding: 8px 15px;
  margin-bottom: 0px;
  border-radius: 4px;
  background-color: #e8e8e8;
  border: 1px solid #aaa;
  font-size: 13px;
}

.message.alert {
  color: #b71c1c;
  background-color: #ffebee;
  border-color: #ef9a9a;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
